<%= part 'head.html' %>

<h2>Settings</h2>
<ul>
  <% CoffeeShop::Setting.all.each do |setting| %>
    <li><strong><%= setting.setting.capitalize %>:</strong> <%= setting.value %> <a href="<%= path_to_setting(setting) %>">Edit</a></li>
  <% end %>
</ul>

<%= part 'foot.html' %>